<div class="mainContent d_flex" *ngIf="patient">

    <h1>Edit patient</h1>
  
    <mat-form-field>
      <mat-label>Firstname</mat-label>
      <input [(ngModel)]="patient.firstname" matInput>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Lastname</mat-label>
      <input [(ngModel)]="patient.lastname" matInput>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Birthdate</mat-label>
      <input [(ngModel)]="patient.b_date" matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  
    <div mat-dialog-actions>
      <button mat-button (click)="close()">Cancel</button>
      <button mat-button (click)="updatePatientData()">Save</button>
    </div>
  
  </div>
  