/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin gap ($g: 0px) {
    gap: $g;
}

.d_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContent {
    padding: 20px;
}